.Footer {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px 0; /* 위아래 여백 추가 */

  /* 너비 */
  width: 100%;

  /* 배경 */
  border-top: 1px solid #dcdcdc;
}

.footer-container {
  /* 크기 */
  width: 100%;
  max-width: 600px;

  /* 배치: Flexbox 레이아웃 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* 제목(서비스 명) => Ratio Calculator */
.footer-container > p:first-child {
  /* 글자 */
  color: #555;
  font-size: 16px;
  font-weight: 600;

  /* 배치 */
  margin: 0; /* .Footer의 gap을 위한 <p>의 기본 margin 제거 */
}

/* 저작권  => © 2025 Ratio Calculator. All rights reserved. */
.footer-container > p:nth-child(2) {
  /* 글자 */
  font-size: 13px;
  color: #777;

  /* 배치 */
  margin: 0; /* .Footer의 gap을 위한 <p>의 기본 margin 제거 */
}

.footer-meta {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  align-items: center; /* 가로 중앙 정렬 */
  gap: 8px; /* 내부 요소 간격 */
}

.footer-meta > a {
  /* 글자 */
  font-size: 13px;
  color: #777;
  text-decoration: none; /* text밑줄 설정 */
}

.footer-divider {
  /* 글자 */
  font-size: 13px;
  color: #aaa;

  /* 배치 */
  /* 글자 정렬을 위한 설정(|가 아래로 내려간 것 처럼 보이는 것 방지) */
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding-bottom: 1px; /* 아래로 내려가는 것 보정 */
}

.footer-version {
  /* 글자 */
  font-size: 13px;
  color: #777;
}

.footer-email {
  /* 글자 */
  font-size: 13px;
  color: #555;

  /* 배치 */
  margin: 0; /* .Footer의 gap을 위한 <p>의 기본 margin 제거 */
}
