.Header {
  /* Flexbox 레이아웃: 세로 방향으로 배치 */
  display: flex;
  flex-direction: column;

  /*
  position: relative;
  text-align: center;
  padding: 20px 10px 10px;
  */
}

.header-info {
  /* Flexbox 레이아웃 */
  display: flex;
  justify-content: flex-end; /* 버튼 오른쪽 끝 배치 */
}

.header-title {
  /* Flexbox 레이아웃 */
  display: flex;
  justify-content: center; /* 제목 가운데 배치 */
}

.title {
  /* 글자 설정 */
  font-size: 30px;
  font-weight: 600;
  color: #222;

  margin: 0; /* <p>의 기본 margin 제거 */
}

.help-button {
  /* 글자 설정 */
  font-size: 14px;
  color: #666;

  /* 크기 */
  width: 28px;
  height: 28px;

  /* 테두리 */
  border-radius: 50%;
  border: 1.5px solid #666;

  /* 배경 */
  background-color: transparent;

  cursor: pointer;
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }
  .help-button {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
}
