.Header {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  flex-direction: column;

  /* 너비 */
  width: 100%;
}

.header-info {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  justify-content: flex-end;

  /* 너비 */
  width: 100%;
}

.header-title {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  justify-content: center;
}

.title {
  /* 글자 */
  font-size: 30px;
  font-weight: 600;
  color: #222;

  /* 배치 */
  margin: 0; /* <p>의 기본 margin 제거 */
}

.help-button {
  /* 글자 */
  font-size: 14px;
  color: #666;

  /* 크기 */
  width: 28px;
  height: 28px;

  /* 배경 */
  border-radius: 50%;
  border: 1.5px solid #666;
  background-color: transparent;

  /* 커서 */
  cursor: pointer;
}

@media (max-width: 480px) {
  .header-info {
    /* 배치 */
    justify-content: center;
  }

  .title {
    /* 글자 */
    font-size: 24px;
  }

  .help-button {
    /* 크기 */
    width: 24px;
    height: 24px;

    /* 글자 */
    font-size: 12px;

    /* 배치 */
    position: absolute;
    top: 10px;
    right: 10px; /* 화면 안전한 범위 */
  }
}
