.Main {
  /* 배치: Flex 레이아웃 */
  display: flex;
  flex-direction: column;
  gap: 15px;

  /* 크기 */
  width: 100%;
  min-height: calc(100vh - 150px); /* Header + 여백 고려값 */
}

@media (max-width: 480px) {
  .Main {
    min-height: calc(100vh - 100px);
  }
}
