.Main {
  /* 내부 요소 세로 배치 */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 요소 간 간격 */
  gap: 15px;

  overflow-x: hidden;
}

@media (max-width: 480px) {
  .Main {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
}
