.RatioEntryList {
  /* Flexbox 레이아웃: 세로 방향으로 배치 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 가운데 정렬 */
}

.entry-container {
  /* Flexbox 레이아웃: 세로 방향으로 배치 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  width: 100%;

  overflow-x: hidden;
}

@media (max-width: 480px) {
  .entry-container {
    gap: 12px;
  }
}
