.RatioLabel {
  /* 배치: Grid 레이아웃 */
  display: grid;
  grid-template-columns: minmax(130px, 1fr) minmax(260px, 2fr) 28px;
  column-gap: 30px;
  justify-items: center; /* cell의 요소 가로 정렬 */
  align-items: center; /* cell의 요소 세로 정렬 */
  margin: 0 auto;

  /* 너비 */
  width: fit-content;
}

.Label1,
.Label2,
.Label3 {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Label2 {
  /* 배치 */
  gap: 6px; /* 내부 요소 간격 */
}

.RatioLabel input {
  /* 크기 */
  width: 120px;
  height: 36px;

  /* 배경 */
  border: 1px solid transparent;
  background-color: transparent;

  /* 글자 */
  font-size: 15px;
  color: #222;
  text-align: center;

  /* 버튼 클릭 방지 */
  pointer-events: none;
}

.RatioLabel p {
  /* 글자 */
  width: 15px;
  text-align: center;
  color: #222;

  /* 배치 */
  padding-bottom: 3px; /* input과 정렬을 위한 padding */
  margin: 0; /* 수직정렬을 위한 maign값 */
}

.RatioLabel .delete-entry-btn {
  /* 크기 */
  width: 26px;
  height: 26px;

  /* 배경 */
  border: none;
  background-color: transparent;

  /* 글자 */
  color: transparent;
  font-size: 18px;

  /* 버튼 클릭 방지 */
  pointer-events: none;
}

@media (max-width: 480px) {
  .RatioLabel {
    /* 배치 */
    grid-template-columns: minmax(85px, 1fr) minmax(140px, 2fr) 28px;
    column-gap: 6px;
  }

  .Label2 {
    gap: 2px;
  }

  .RatioLabel input {
    /* 크기 */
    width: 90px;
    height: 27px;

    /* 글자 */
    font-size: 15px;
  }
}
