.RatioEntry {
  /* 배치: grid 레이아웃 */
  display: grid;
  grid-template-columns: minmax(130px, 1fr) minmax(260px, 2fr) 28px;
  column-gap: 30px;
  justify-content: center;
  align-items: center;

  width: fit-content;
  margin: 0 auto;

  color: #333;
}

.Entry1,
.Entry2,
.Entry3 {
  /* Flexbox 레이아웃 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Entry2 {
  /* Flexbox 레이아웃: 가로 방향으로 배치 */
  /* 내부 요소 간격 */
  gap: 6px;
}

.RatioEntry input {
  /* 크기 */
  width: 120px;
  height: 36px;

  /* 테두리 */
  border: 1px solid #dcdcdc;
  border-radius: 8px;

  /* 글자 */
  font-size: 14px;
  text-align: center;
}

.RatioEntry p {
  /* 글자 */
  width: 14px;
  text-align: center;
  color: #666;

  padding-bottom: 3px;

  margin: 0; /* 수직정렬을 위한 maign값 */
}

.RatioEntry .delete-entry-btn {
  /* 크기 */
  width: 26px;
  height: 26px;

  /* 테두리 */
  border: none;
  background-color: transparent;

  /* 글자 */
  color: #666;
  font-size: 18px;

  /* 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 커서 */
  cursor: pointer;
}

.RatioEntry .delete-entry-btn:disabled {
  /* 불투명 */
  opacity: 0.5;
}

@media (max-width: 480px) {
  .RatioEntry {
    /* 배치 */
    grid-template-columns:
      minmax(85px, 1fr)
      minmax(140px, 2fr)
      28px;
    column-gap: 6px;
    margin-left: auto;
    margin-right: auto;

    /* 너비 */
    width: fit-content;
  }

  .Entry2 {
    /* 내부 요소 간격 */
    gap: 2px;
  }

  .RatioEntry input {
    /* 크기 */
    width: 90px;
    height: 27px;

    /* 글자 */
    font-size: 13px;
  }
}
