.RatioControls {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  flex-direction: column;
  width: 100%; /* .controls-actions의 justify-content를 위한 설정 */
  gap: 15px; /* 요소간 간격 */
}

.controls-add {
  /* 배치: Flex 레이아웃 */
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  /* 넓이 */
  width: 100%;
}

.RatioControls .add-entry-btn {
  /* 배경 */
  border: none;
  background-color: transparent;

  /* 글자 */
  font-size: 14px;
  color: #222;

  /* 커서 */
  cursor: pointer;

  /* 애니메이션 */
  transition: 0.15s ease;
}

.RatioControls .add-entry-btn:disabled {
  /* 배경 */
  opacity: 0.5; /* 불투명도 */

  /* 커서 */
  cursor: default;
}

.controls-actions {
  /* 내부 요소 양쪽 끝 배치 */
  display: flex;
  justify-content: space-between;

  /* 넓이 */
  width: 100%;
  max-width: 600px;
}

.RatioControls .reset-btn,
.RatioControls .calculate-btn {
  /* 글자 */
  font-size: 14px;
  color: #222;

  /* 배경 */
  border: 1px solid #c8c8c8;
  border-radius: 6px;
  background-color: #f0f0f0;

  /* 배치 */
  padding: 8px 20px;

  /* 커서 */
  cursor: pointer;
}

@media (max-width: 480px) {
  .controls-actions {
    max-width: 350px;
    margin: 0 auto;
  }

  .RatioControls .reset-btn,
  .RatioControls .calculate-btn {
    font-size: 13px;
    padding: 7px 16px;
  }
}
