.RatioEntry {
  /* Flexbox 레이아웃: 가로 방향으로 배치 */
  display: flex;
  align-items: center;
  justify-content: center; /* 가로 중앙 정렬 */

  gap: 45px;

  color: #333;
}

.Entry1 {
  /* Flexbox 레이아웃 */
  display: flex;
  align-items: center;
}

.Entry2 {
  /* Flexbox 레이아웃: 가로 방향으로 배치 */
  display: flex;
  align-items: center;

  /* 내부 요소 간격 */
  gap: 6px;
}

input {
  /* 크기 */
  width: 120px;
  height: 36px;

  /* 테두리 */
  border: 1px solid #dcdcdc;
  border-radius: 8px;

  /* 글자 */
  font-size: 14px;
  text-align: center;
}

.Entry2 > p {
  /* 글자 */
  width: 14px;
  text-align: center;
  color: #666;

  margin: 0; /* 수직정렬을 위한 maign값 */
}

.Entry3 {
  /* Flexbox 레이아웃 */
  display: flex;
  align-items: center;
}

.delete-entry-btn {
  /* 크기 */
  width: 26px;
  height: 26px;

  /* 테두리 */
  border: none;
  background-color: transparent;

  /* 글자 */
  color: #666;
  font-size: 18px;

  /* 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 커서 */
  cursor: pointer;
}

.delete-entry-btn:disabled {
  /* 불투명 */
  opacity: 0.5;
}

@media (max-width: 480px) {
  .RatioEntry {
    flex-direction: column;
    gap: 6px;
  }

  .Entry1 > input,
  .Entry2 > input {
    width: 100px;
    height: 32px;
    font-size: 13px;
  }
}
