.RatioEntry {
  /* 배치: Grid 레이아웃 */
  display: grid;
  grid-template-columns: minmax(130px, 1fr) minmax(260px, 2fr) 28px;
  column-gap: 30px;
  justify-items: center; /* cell의 요소 가로 정렬 */
  align-items: center; /* cell의 요소 세로 정렬 */
  margin: 0 auto;

  /* 너비 */
  width: fit-content;
}

.Entry1,
.Entry2,
.Entry3 {
  /* 배치: Flexbox 레이아웃 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Entry2 {
  /* 배치 */
  gap: 6px; /* 내부 요소 간격 */
}

.RatioEntry input {
  /* 크기 */
  width: 120px;
  height: 36px;

  /* 배경 */
  border: 1px solid #dcdcdc;
  border-radius: 8px;

  /* 글자 */
  color: #333;
  font-size: 14px;
  text-align: center;
}

.RatioEntry p {
  /* 글자 */
  width: 14px;
  text-align: center;
  color: #666;

  /* 배치 */
  padding-bottom: 3px; /* input과 정렬을 위한 padding */
  margin: 0; /* 수직정렬을 위한 maign값 */
}

.RatioEntry .delete-entry-btn {
  /* 크기 */
  width: 26px;
  height: 26px;

  /* 테두리 */
  border: none;
  background-color: transparent;

  /* 글자 */
  color: #666;
  font-size: 18px;

  /* 커서 */
  cursor: pointer;
}

.RatioEntry .delete-entry-btn:disabled {
  /* 배경 */
  opacity: 0.5;

  /* 커서 */
  cursor: default;
}

@media (max-width: 480px) {
  .RatioEntry {
    /* 배치 */
    grid-template-columns: minmax(85px, 1fr) minmax(140px, 2fr) 28px;
    column-gap: 6px;
  }

  .Entry2 {
    /* 내부 요소 간격 */
    gap: 2px;
  }

  .RatioEntry input {
    /* 크기 */
    width: 90px;
    height: 27px;

    /* 글자 */
    font-size: 13px;
  }
}
