.RatioEntryList {
  /* 너비 */
  width: 100%;
}

.entry-container {
  /* 배치: Flex 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* 너비 */
  width: 100%;
}
