.RatioLabel {
  /* Flexbox 레이아웃: 가로 방향으로 배치 */
  display: flex;
  align-items: center;
  justify-content: center; /* 가로 중앙 정렬 */

  gap: 45px;

  color: #333;
}

.Label1 {
  /* Flexbox 레이아웃 */
  display: flex;
  align-items: center;
}

.Label2 {
  /* Flexbox 레이아웃: 가로 방향으로 배치 */
  display: flex;
  align-items: center;

  /* 내부 요소 간격 */
  gap: 6px;
}

.RatioLabel input {
  /* 크기 */
  width: 120px;
  height: 36px;

  /* 테두리 */
  border: none;
  background-color: transparent;
  border-radius: 8px;

  /* 글자 */
  font-size: 16px;
  color: #222;
  text-align: center;

  /* 버튼 클릭 방지 */
  pointer-events: none;
}

.Label2 > p {
  /* 글자 */
  width: 14px;
  text-align: center;
  color: #222;

  margin: 0; /* 수직정렬을 위한 maign값 */
}

.Label3 {
  /* Flexbox 레이아웃 */
  display: flex;
  align-items: center;
}

.RatioLabel .delete-entry-btn {
  /* 크기 */
  width: 26px;
  height: 26px;

  /* 배경 */
  border: none;
  background-color: transparent;

  /* 글자 */
  color: transparent;
  font-size: 18px;

  /* 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;

  /* 버튼 클릭 방지 */
  pointer-events: none;
}

@media (max-width: 480px) {
  .RatioLabel {
    flex-direction: column;
    gap: 4px;
  }
}
