.RatioControls {
  /* 내부 요소 세로 배치 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 정렬 */

  width: 100%; /* .controls-bottom의 justify-content를 위한 설정 */
}

.controls-add {
  width: 100%;
  display: flex;
  justify-content: center; /* 가운데 배치 */
}

.add-entry-btn:disabled {
  opacity: 0.5;
}

.controls-actions {
  /* 내부 요소 양쪽 끝 배치 */
  width: 100%;
  display: flex;
  justify-content: space-between;
}
