/* 전체 페이지 배경 */
body {
  background-color: #f7f7f7; /* 배경색 */
  margin: 0; /* 브라우저 기본값(8px)제거 */
  font-family: "Noto Sans KR", sans-serif; /* 글자 폰트 */
}

.App {
  /* 메인 컨테이너 너비 설정 (중앙 정렬을 위해 고정 폭 사용) */
  width: 600px;
  margin: 0 auto;

  padding: 24px 12px; /* 컨텐츠와 테두리 사이 여백 지정 */

  /* Flexbox 레이아웃: 세로 방향으로 배치 */
  display: flex;
  flex-direction: column;

  gap: 32px; /*요소 간 간격*/

  /* 글자 색상 */
  color: #222;
}

@media (max-width: 480px) {
  .App {
    width: 100%;
    padding: 20px 1px;
    gap: 28px;
  }
}
