/* 전체 페이지 배경 */
body {
  /* 배경 */
  background-color: #f7f7f7;

  /* 배치 */
  margin: 0; /* 브라우저 기본값(8px)제거 */

  /* 글자 */
  font-family: "Noto Sans KR", sans-serif;
}

.App {
  /* Flexbox 레이아웃: 세로 방향으로 배치 */
  display: flex;
  flex-direction: column;

  /* 배치 */
  margin: 0 auto; /*중앙 정렬 */
  padding: 24px 12px; /* 컨텐츠와 테두리 사이 여백 지정 */

  /* 크기 */
  width: 600px; /* 메인 컨테이너 너비 설정 (중앙 정렬을 위해 고정 폭 사용) */

  /*요소 간 간격*/
  gap: 32px;

  /* 글자 색상 */
  color: #222;
}

@media (max-width: 480px) {
  .App {
    /* 크기 */
    width: 100%;

    /* 배치 */
    gap: 28px;
    padding: 20px 0px;
  }
}
